In [1]:
from github import Github
import pandas as pd

In [2]:
token = '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'

In [3]:
git = Github(token)

In [4]:
libs = {'altair' : 'altair-viz/altair' ,
       'bokeh' : 'bokeh/bokeh',
       'chartify':'spotify/chartify',
       'diagram' : 'tehmaze/diagram',
       'ggpy':'yhat/ggpy',
       'glumpy':'glumpy/glumpy',
       'holoviews':'holoviz/holoviews',
       'mayavi':'enthought/mayavi',
       'matplotlib':'matplotlib/matplotlib',
       'missingo':'ResidentMario/missingno',
       'plotly':'plotly/plotly.py',
       'pyqtgraph':'pyqtgraph/pyqtgraph',
       'pyvista':'pyvista/pyvista',
       'seaborn':'mwaskom/seaborn',
       'toyplot':'sandialabs/toyplot',
       'three':'stemkoski/three.py',
       'veusz':'veusz/veusz',
       'vispy':'vispy/vispy'}

In [5]:
def get_repo_features(repo_name):
    repo = git.get_repo(repo_name)
    repo_id = repo.id
    repo_name = repo.name
    repo_language = repo.language
    total_commits = repo.get_commits().totalCount
    total_stars = repo.stargazers_count
    forks_count = repo.forks_count
    creation_date = repo.created_at
    contrib_count = repo.get_contributors().totalCount
    return [repo_id , repo_name,total_commits,total_stars,forks_count,creation_date,contrib_count]

In [6]:
def get_repos_dataframe(path=None):
    libs_data = [get_repo_features(data) for data in libs.values()]
    df = pd.DataFrame(libs_data)
    df.columns = ['repo_id' , 'repo_name' , 'total_commits' ,
                  'total_stars' , 'forks_count' , 'created_at','contrib_count']
    if path is not None:
        pd.to_csv(path + '/repo_features.csv' , index=False)
    return df

In [7]:
repos_df = get_repos_dataframe()

In [9]:
repos_df

,repo_id,repo_name,total_commits,total_stars,forks_count,created_at,contrib_count
0,42757577,altair,3065,6797,613,2015-09-19 03:14:04,116
1,3834332,bokeh,19153,15320,3751,2012-03-26 15:40:01,399
2,149135719,chartify,195,2948,264,2018-09-17 14:12:05,15
3,25441251,diagram,65,392,19,2014-10-19 21:45:37,7
4,13384593,ggpy,256,3616,583,2013-10-07 13:30:53,13
5,23520171,glumpy,848,954,155,2014-08-31 18:30:26,48
6,19542768,holoviews,10216,1939,322,2014-05-07 16:59:22,101
7,1288547,mayavi,3072,898,246,2011-01-24 17:48:00,54
8,1385122,matplotlib,39779,13940,5933,2011-02-19 03:17:12,423
9,54834492,missingno,180,2834,369,2016-03-27 15:18:50,15
10,14579099,plotly.py,5147,9888,1851,2013-11-21 05:53:08,161
11,12777496,pyqtgraph,2927,2483,856,2013-09-12 07:18:21,175
12,92974124,pyvista,2291,868,172,2017-05-31 18:01:42,57
13,4704710,seaborn,2784,8602,1452,2012-06-18 18:41:19,137
14,18925814,toyplot,1698,392,33,2014-04-18 21:13:25,6
15,179490554,three.py,54,75,11,2019-04-04 12:11:59,3
16,1324413,veusz,3428,466,84,2011-02-03 15:13:28,30
17,8935948,vispy,6851,2685,567,2013-03-21 18:43:22,128

In [8]:
repo = git.get_repo(libs['plotly'])

In [12]:
contributors = list(repo.get_contributors())

In [14]:
[x.company for x in contributors]

['Netflix',
 '@plotly',
 None,
 'Plotly',
 'Plotly',
 'Plotly',
 None,
 '@R2-inc',
 None,
 '@plotly ',
 None,
 '@plotly',
 None,
 '@plotly ',
 'University of British Columbia',
 'plotly',
 None,
 None,
 'Vildly AB',
 None,
 '@plotly ',
 None,
 'Chalmers University of Technology',
 None,
 None,
 'Burning Man Project',
 'Miklós Tusz',
 None,
 '@shopify',
 'plotly',
 'Dion Research LLC',
 '@mntnr ',
 'UC Berkeley',
 None,
 'Sonetel',
 None,
 'Sundell Open Source Consulting AB',
 None,
 None,
 'EPFL',
 '@QuantStack',
 '@Gousto',
 None,
 None,
 None,
 None,
 '@google ',
 'Visa Inc.',
 'Freelancer',
 None,
 'Plant & Food Research',
 'Spring',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'University College London',
 None,
 None,
 None,
 None,
 '@mozilla ',
 '@coolblue-development ',
 'm²hycon GmbH',
 None,
 "King's College London",
 'Pacific Biosciences',
 'Purdue University',
 'Logiag LaserAG',
 None,
 '@inguma ',
 'Indeed',
 None,
 '(╯°□°)╯︵ ┻━┻',
 'Faculty of Computer Science, Dalhousie University',
 'Google DeepMind',
 'Hammies Shorts',
 'Medical University of Innsbruck',
 None,
 'Nord Software',
 'Zurich',
 'University of Melbourne',
 None,
 'Google',
 None,
 None,
 '@pnnl ',
 None,
 None,
 '@swift-nav, @coala; @PyCQA; @BesutKode @wikimedia-id; University of New England, Australia',
 None,
 'SpaceX',
 '@readthedocs',
 None,
 None,
 '@Noteable-io',
 None,
 '@plumerai @larq ',
 None,
 None,
 None,
 None,
 'Data Scientist at @Netflix',
 '@ubicenter',
 None,
 'Peter Park',
 '@plotly',
 'Technical university of Denmark',
 'Arcturus Industries',
 None,
 '@uds-se ',
 None,
 None,
 None,
 None,
 None,
 '@uiuc-srg @baidu-research @google ',
 None,
 None,
 'Independent Consultant, up for hire',
 'Enthought',
 None,
 None,
 '@alan-turing-institute',
 'CUHK',
 'IRESS',
 None,
 None,
 '@Vernacular-ai ',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'University of ACoruña',
 '@MimiHearingTechnologies ',
 'DCCC',
 None,
 None,
 'Genedata AG',
 None,
 None,
 None,
 None,
 None,
 'Université de Poitiers',
 None,
 None,
 None,
 'Osmo Systems',
 None,
 None,
 None]

In [15]:
len(contributors)

160

In [22]:
contributors[0].location

'Truckee, CA'

In [24]:
contributors[0].get_repos().totalCount

35

In [25]:
contributors[0].id

6611546

In [10]:
def get_repo_contrib_features(repo_name):
    repo = git.get_repo(repo_name)
    contributors = list(repo.get_contributors())
    contribs_features = [[repo.id ,contrib.id , contrib.name , contrib.company , contrib.location ,contrib.get_repos().totalCount] \
                        for contrib in contributors]
    df = pd.DataFrame(contribs_features)
    df.columns = ['repo_id' , 'contrib_id' , 'contrib_name' ,
                  'contrib_company' , 'contrib_location' , 'contrib_repos_count']
    return df

In [44]:
def get_contributors_dataframe(path=None):
    data = pd.concat([get_repo_contrib_features(repo) for repo in libs.values()])
    if path is not None:
        pd.to_csv(path + '/contrib_features.csv' , index=False)
    return data

In [12]:
%%time
contrib_df = get_contributors_dataframe()

CPU times: user 30.3 s, sys: 633 ms, total: 30.9 s
Wall time: 14min 51s

In [13]:
contrib_df

,repo_id,contrib_id,contrib_name,contrib_company,contrib_location,contrib_repos_count
0,42757577,781659,Jake Vanderplas,Google,Oakland CA,212
1,42757577,27600,Brian E. Granger,Amazon Web Services,None,189
2,42757577,9993,Ben Welsh,Los Angeles Times,Los Angeles,40
3,42757577,2041969,Eitan Lees,None,None,39
4,42757577,1798497,None,None,None,18
...,...,...,...,...,...,...
123,8935948,43505542,moto,None,None,2
124,8935948,76622105,None,"West Pomeranian University of Technology, Szcz...","Szczecin, Poland",7
125,8935948,6250569,Ryan Cordes,None,None,2
126,8935948,21579271,None,None,None,15
127,8935948,1835434,Matej Zajo Kralik,None,None,16

In [60]:
repo = git.get_repo(libs['bokeh'])

In [61]:
plotly_releases = list(repo.get_releases())

In [63]:
plotly_releases

[]

In [41]:
plotly_releases[0].created_at.strftime('%d-%m-%Y')

'28-06-2021'

In [70]:
def get_repo_releases(repo_name):
    
    repo = git.get_repo(repo_name)
    releases = list(repo.get_releases())
    if len(releases) == 0:
        return pd.DataFrame()
    releases_features = [[repo.id , release.tag_name , release.created_at.strftime('%d-%m-%Y')]
                        for release in releases]
    df = pd.DataFrame(releases_features)
    df.columns = ['repo_id' , 'tag_name' , 'created_at']
    return df

In [71]:
def get_releases_dataframe(path=None):
    data = pd.concat([get_repo_releases(data) for data in libs.values()])
    if path is not None:
        pd.to_csv(path + '/releases_features.csv' , index=False)
    return data

In [72]:
df = [get_repo_releases(data) for data in libs.values()]

In [74]:
releases = get_releases_dataframe()

In [75]:
releases

     repo_id tag_name  created_at
0   42757577   v4.1.0  01-04-2020
1   42757577   v4.0.0  11-12-2019
2   42757577   v3.3.0  27-11-2019
3   42757577   v3.2.0  06-08-2019
4   42757577   v3.0.0  26-04-2019
..       ...      ...         ...
13   8935948   v0.5.1  04-11-2017
14   8935948   v0.5.0  24-10-2017
15   8935948   v0.4.0  22-05-2015
16   8935948   v0.3.0  29-08-2014
17   8935948   v0.2.1  04-11-2013

[362 rows x 3 columns]